<br>
<div class="form-group">
  <input autofocus
         type="text"
         ng-model="main.input"
         ng-change="main.searchArtist()"
         placeholder="Search for an artist"
         class="form-control">
</div>

<div ng-repeat="artist in main.artists">
  <a class="col-lg-4 col-md-6 col-sm-6"
     ng-if="artist.images[0].url">
    <div class="text-center">
      <h4>{{artist.name}}</h4>
      <img ng-src="{{artist.images[0].url}}"
           class="img"
           alt=""
           height="170">
    </div>
  </a>
</div>

// TODO -- put this controller in a new class similar to MainController, store
// whether artist is selected
